<h1>login Form</h1>
<form class="example-form">
  
  <div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="username" (change)="LogChange(name)" value="">
    <mat-hint>Please enter your username</mat-hint>
  </mat-form-field>
  </div>
  
  <div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="password" value="">
    <mat-hint>Please enter your password</mat-hint>
  </mat-form-field>
  </div>

  <div>
    <button mat-button color="primary">submit</button>
  </div>
</form>

